.imageSize{
    height: 100px;
    width: 100px;
    transtion:1s ease-in-out;
    transform-origin:center center;
}

.imgBox{
    overflow: visible;
    height: 100px;
    width: 150px;
    position:relative;
}

.imageSize:hover{
    tranform:scale(1.3);
    overflow: visible;
}

@media screen and (max-width:768px){
    .imageSize{
        width: 60px;
        height: 90px;
    }
    .imageSize:hover{
        height: 60px;
        width: 90px;
        overflow: visible;
   }
}
