.imageSize{
    height: 100px;
    width: 100px;
    transition: .7s ease-in-out;
    transform-origin:center center;
    z-index:999;
    
}

.imgBox{
    overflow: visible;
    height: 100px;
    width: 150px;
    position:relative;
}

.imageSize:hover{
    transform:scale(1.6);
    overflow: visible;
}

@media screen and (max-width:768px){
    .imageSize{
        width: 60px;
        height: 90px;
    }
}
